.user-dashboard-container{
  padding: 6rem;

}

.schedeAndCalendar-container{
  margin-top: 4rem;
  width: 70%;
}
.chart-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-height:30vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .chart-container {
  width: 50vw;
  max-height:60vw;
  display: flex;
  justify-content: center;
}
}