.user-dashboard-container{
  padding: 6rem;

}

.schedeAndCalendar-container{
  margin-top: 4rem;
  width: 70%;
}
.chart-container {
  margin-bottom: 3rem;
  width: 100%;
  max-height:30vw;
display: flex;
justify-content: center;
}