.swiper {
  background-color: rgb(255, 255, 255);
  margin-left: 0 !important;
  
}

@media (max-width: 2540px) {
  .swiper {
    width: 45vw;
  }

}

@media (max-width: 1920px) {
  .swiper {
    width: 45vw;
  }

}
@media (max-width: 1280px) {
  .swiper {
    width: 100vw;
  }

}

@media (max-width: 768px) {
  .swiper {
    width: 100vw;
  }

  .swiper-button-next {
    right: 140px !important;
    color: black !important;
  }
  .swiper-button-prev {
    left: 140px !important;
    color: black !important;
  }
}

@media (max-width: 480px) {
  .swiper {
    width: 100%;
  }
 .swiper-button-next {
    right: 140px !important;
    color: black !important;
  }
  .swiper-button-prev {
    left: 140px !important;
    color: black !important;
  }
}
