.paziente-card-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  height: auto; /* Regolato da 60px a auto */
  cursor: pointer;
  width: 100%;
}

.imgAndText-container {
 display: flex;
  gap: 0.5rem;
  background-color: rgb(224, 200, 200);
  border-radius: 6px;
  height: auto; 
  align-items: center;
  width: 95%;
}

.paziente-img-container {
  height: 40px;
  width: 40px;
  border-radius: 50%; 
}

.nameSurname-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word; 
  flex-grow: 1;
  white-space: normal; 

}
