.recipe-form-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form-recipe {
  display: flex;
  flex-direction: column;
}

.form-title-sendRecipe {
  text-align: center;
  margin-top: 2rem;
}

.field-form-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.required-recipe {
  color: red;
  margin-left: 0.5rem;
}

input,
.textarea-recipe {
  margin-bottom: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  width: 90%;
  border-width: 2px;
 
}

.textarea-recipe {
  max-width: 90%;
  min-width: 90%;
}

.button-sendRecipe {
  padding: 1rem;
  background-color: #4caf50;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.button-sendRecipe:hover {
  background-color: #45a049;
}

.form-paragraph-sendRecipe {
  text-align: justify;
  justify-content: center;
  margin: 10px 0;
  font-size: 1.3rem;
}

.form-paragraph-register {
  text-align: center;
  justify-content: center;
  margin: 10px 0;
  font-size: 1.1rem;
}