.scheda-container {
  margin-bottom: 0.2rem;
  cursor: pointer;
  text-align: center;
  background-color: var(--light-grey);
  margin-right: 0.2rem;
}

.scheda-header {
  padding: 0;
}

.scheda-body {
  padding: 0.2rem;
}

.scheda-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: var(--aviation-blue)
}

.scheda-text {

  font-weight: light;
}

@media (max-width: 480px) {
  .scheda-container {
    width: 70%;
    margin-inline: auto;
  }
}