.swiper {
  background-color: rgb(255, 255, 255);
  margin-left: 0 !important;
  height: auto;
  padding-bottom: 0.5rem !important;
  width: 100%;
}

.swiper-pagination {
  bottom: var(--swiper-pagination-bottom, -5px) !important;
}

