:root {
  --green-primary: #38ffc0;
  --orange-primary: #ff664c;
  --blue-primary: #3a6eb3;
  --white-secondary: #f5f5f5;
  --orange-secondary: #ffa07a;
  --green-secondary: #11d194;
  --blu-secondary: #74aefa;
  --gradient-green-blue: linear-gradient(
    45deg,
   #38ffc0 30%,
    #74aefa 80%,
    #11d194 99%
  );
}
