:root {
  --light-grey: #ffffffbf;
  --white-secondary: #f5f5f5;
  --light-yellow: #ffef78;
  --aviation-blue: #235789;
  --dark-avio-blue: #163a5b;
  --light-blue: #63c9b4;
  --tangerine: #ff9f1c;
  --light-pink: #eb92be;
}
