@import './colors.css';
@import './font.css';
@import './media-query.css';


*{
  font-size: 16px;
  margin: 0;
  font-family: var(--custom-font)
  ;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

