body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 8rem;
}

.mainTitle-ricette {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.custom-card-ricette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-container-ricette {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 5rem;
  margin: 0 auto;
  max-width: 60rem;
}

.custom-card-ricette img {
  width: 100%;
  height: 100%;
}

.titlePreviewRecipe, .textPreviewRecipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonRecipe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


@media (max-width: 768px) {
  .card-container-ricette {
    grid-template-columns: 1fr;
    margin-left: 2rem;
  }
}

@media (max-width: 480px) {
  .custom-card-ricette {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card-container-ricette {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .card-container-ricette {
    grid-template-columns: repeat(3, 1fr);
  }

  .custom-card-ricette {
    width: 15rem;
  }
}