/* @media screen and (min-width: 1280px) {
    #navbar-style {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--green-primary);
        font-family: var(--custom-font);

    }

    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 16vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: space-around;
        gap: 2vw;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }
}

@media screen and (min-width: 1920px) { 
    #navbar-style {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--green-primary);
        font-family: var(--custom-font);

    }

    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 24vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: space-around;
        gap: 2vw;
        font-size: 1.1 rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }
}*/

@media screen and (min-width: 2560px) {
    #navbar-style {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: var(--green-primary)
            /* #caf8a7 */
        ;
        font-family: var(--custom-font);

    }

    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 26vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: space-around;
        gap: 2vw;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }
}