#navbar-style {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--green-primary);
    font-family: var(--custom-font);

}

/* Media query 480px */

@media screen and (min-width: 320px) {
    
    #navbar-collapse {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }

    #navbar-logo {
        width: 40vw;
    }

    #navbar-offcanvas {
        background-color: var(--green-primary);
    }

    .navbar-hamburger-menu {
        width: 8vw;
        fill: var(--green-primary) !important;
    }

    #navbar-menu {
        background: none !important;
        border: none !important;
    }

    #navbar-title-menu {
        font-weight: bold !important;
        color: var(--orange-primary);
        font-size: 1.5rem;
    }

    #navbar-brand-avatar {
        display: flex;
        align-items: center;
    }

    .navbar-link {
        margin-left: 3vw;
        color: var(--blue-primary) !important;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        font-weight: bold;
        transform: scale(1.1);
        transition: 500ms;
    }
}

/* Media query 768px */

@media screen and (min-width: 768px) {
    
    #navbar-collapse {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 35vw;
    }

    #navbar-logo {
        width: 12vw;
    }

    #navbar-offcanvas {
        background-color: var(--green-primary);
    }

    .navbar-hamburger-menu {
        width: 2vw;
        fill: var(--green-primary) !important;
    }

    #navbar-menu {
        background: none !important;
        border: none !important;
    }

    #navbar-title-menu {
        font-weight: bold !important;
        color: var(--orange-primary);
        font-size: 1.5rem;
    }

    #navbar-brand-avatar {
        display: flex;
        align-items: center;
    }

    .navbar-link {
        margin-left: 3vw;
        color: var(--blue-primary) !important;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        font-weight: bold;
        transform: scale(1.1);
        transition: 500ms;
    }
}

/* Media query 1280px */

@media screen and (min-width: 1280px) {
   
    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        font-size: 1rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-brand-avatar {
        margin-left: 3vw;
        scale: 0.7;
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }
}

/* Media query 1920px*/

@media screen and (min-width: 1920px) {
    
    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-brand-avatar {
        margin-left: 3vw;
        scale: 1;
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }
}

/* Media query 2560px */

@media screen and (min-width: 2560px) {

    #navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17vw;
    }

    #navbar-brand-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--blue-primary)
    }

    #navbar-brand-avatar {
        margin-left: 8vw;
    }

    #navbar-logo {
        width: 12vw;
    }

    .navbar-link:hover {
        color: var(--blu-secondary) !important;
        transform: scale(1.1);
        transition: 500ms;
    }

}